#colortogray{
	background-color: lightgray;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{
   margin-top: 60px;
}
.carousel-caption{
   font-size: 20px;
}
.carousel-caption h4{
   font-size: 32px;
}

#myCarousel .item{
   height: 400px;
}
#slide1{
   background: url('/images/bend.jpg') top center no-repeat;
}
#slide2{
   background: url('../../images/Carousel_Medium_02.jpg') top center no-repeat;
}
#slide3{
   background: url('../../images/Carousel_Medium_03.jpg') top center no-repeat;
}